@import 'https://fonts.googleapis.com/css?family=Inconsolata';

html {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: #000000;
  /* background-image: radial-gradient(#11581E, #041607), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1ex rgba(51, 255, 51, 1),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .02;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1;
}

/* .overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 0%,
      rgba(32, 128, 32, 0.2) 2%,
      rgba(32, 128, 32, 0.8) 3%,
      rgba(32, 128, 32, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
  0%        { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
} */

.terminal {
  box-sizing: inherit;
  position: relative;
  height: 100%;
  width: 1000px;
  max-width: 100%;
  padding: 4rem;
  text-transform: uppercase;
}

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
  content: "> ";
}



a {
  color: #fff;
  text-decoration: none;
}



.errorcode {
  color: white;
}


.flex{
    display: flex;
    flex-wrap: wrap;
justify-content: space-evenly;

}
.card {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(32, 128, 32, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(32, 128, 32, 0.5);
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
        0 0 1px rgba(51, 255, 51, 0.4),
        0 0 2px rgba(255, 255, 255, 0.8);
        transition: transform .1s;
  }

  .card:hover, audio:focus, audio:active
  {
  -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  }
  
  .card h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .card p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  


  audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}


audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 0px 2px 0px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}


img{
  width: 100%;
}

.f-a{
  margin-top: 10%;
}

a{
  transition: transform .1s;
}


a:hover{
  -ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.5);
color: red;
}



@media (max-width: 480px) {
  a {
    padding: 0px 10px;
    font-size: 10px;
  }
  h1{
font-size: 20px;
 }

 audio{
  width: 210px;
 }
  .m-respon {
    font-size: 19px;
  }

  .card-grid {
    display: flex;
    overflow-x: auto; /* Permet le défilement horizontal */
    scroll-snap-type: x mandatory; /* Assure un défilement fluide */
    -webkit-overflow-scrolling: touch; /* Défilement fluide sur iOS */
    margin-left: 5%;
  }

  .card {
    flex: 0 0 auto; /* Empêche le rétrécissement des cartes */
    width: 50%; /* Largeur des cartes */
    margin-right: 20px; /* Marge entre les cartes */
    scroll-snap-align: start; /* Assure un défilement fluide à chaque carte */
  }
}
